#!/usr/sbin/nft -f

flush ruleset

table ip filter {

        chain CEPH_INP {
{% if inventory_hostname in groups['mon'] %}
                tcp dport { 3300,6789,6800-7300,8443,8765,9283 } ct state new counter accept
{% endif %}
{% if inventory_hostname in ( groups['mds'] + groups['osd'] ) %}
                tcp dport { 6800-7300 } ct state new counter accept
{% endif %}
        }
        chain NODE_EXPORTER_INP {
                tcp dport 9100 ct state new counter accept
        }
        chain CEPH_EXPORTER_INP {
                tcp dport 9926 ct state new counter accept
        }
{% if inventory_hostname in groups['mon'] %}
        chain PROMETHEUS_INP {
                tcp dport { 9093-9095 } ct state new counter accept
                udp dport 9094 ct state new counter accept
        }
{% endif %}
{% if inventory_hostname in groups['mon'] %}
        chain GRAFANA_INP {
                tcp dport 3000 ct state new counter accept
        }
{% endif %}
        chain INPUT {
                type filter hook input priority filter; policy drop;
                ct state invalid counter drop
                iifname "lo" counter accept
                tcp dport 22 ct state new counter accept
                udp dport 323 counter accept
                ip saddr {{ subnet_cidrs }} icmp type echo-request counter accept
                ct state established,related counter accept
{% if inventory_hostname in ( groups['mon'] + groups['mds'] + groups['osd'] ) %}
                counter jump CEPH_INP
{% endif %}
                counter jump NODE_EXPORTER_INP
                counter jump CEPH_EXPORTER_INP
{% if inventory_hostname in groups['mon'] %}
                counter jump PROMETHEUS_INP
                counter jump GRAFANA_INP
{% endif %}
        }

        chain FORWARD {
                type filter hook forward priority filter; policy drop;
        }

        chain OUTPUT {
                type filter hook output priority filter; policy drop;
                ct state established,related,new counter accept
        }
}