#!/usr/sbin/nft -f

flush ruleset

table ip filter {

        chain NGINX_INP {
                tcp dport { 80, 443, 8080 } ct state new counter accept
        }
        chain CONSUL_INP {
                tcp dport { 8300,8301,8302,8500,8600 } ct state new counter accept
                udp dport { 8301,8302,8600 } ct state new counter accept
        }
        chain INPUT {
                type filter hook input priority filter; policy drop;
                ct state invalid counter drop
                iifname "lo" counter accept
                tcp dport 22 ct state new counter accept
                udp dport 323 counter accept
                ip saddr {{ subnet_cidrs }} icmp type echo-request counter accept
                ct state established,related counter accept
                counter jump NGINX_INP
                counter jump CONSUL_INP
        }

        chain FORWARD {
                type filter hook forward priority filter; policy drop;
        }

        chain OUTPUT {
                type filter hook output priority filter; policy drop;
                ct state established,related,new counter accept
        }
}