filebeat.inputs:
- type: filestream
  id: {{ inventory_hostname }}-logs
  enabled: true
  paths:
{% if inventory_hostname in groups['nginx_servers'] %}
    - /var/log/nginx/*.log
{% elif inventory_hostname in groups['backend_servers'] %}
    - /var/log/nginx/*.log
{% elif inventory_hostname in groups['db_servers'] %}
    - /var/log/mysqld.log
{% endif %}

output.logstash:
  hosts:
{% for item in groups['os-cluster'] %}
    - {{ hostvars[item]['ip'] }}:5044
{% endfor %}