filebeat.inputs:
- type: filestream
  id: {{ inventory_hostname }}-logs
  enabled: true
  paths:
{% if inventory_hostname in groups['nginx_servers'] %}
    - /var/log/nginx/*.log
{% elif inventory_hostname in groups['backend_servers'] %}
    - /var/log/nginx/*.log
{% endif %}

output.kafka:
  hosts:
{% for item in groups['kafka_servers'] %}
    - {{ hostvars[item]['ip'] }}:9092
{% endfor %}
  topic:
{%- if inventory_hostname in groups['nginx_servers'] %}
 "nginx"
{% elif inventory_hostname in groups['backend_servers'] %}
 "wordpress"
{% endif %}
  required_acks: 1
  compression: gzip