datacenter = "dc1"
node_name = "{{ inventory_hostname }}"
server = true
ui_config {
  enabled = true
}
data_dir = "/var/lib/consul"
addresses {
  http = "0.0.0.0"
}
encrypt = "IOBhqXLxqoz1MqoofIYRdqhpCr7Oaf/+AH1klnOAb3E="
raft_protocol = 3
bootstrap_expect = {{ groups.consul_servers | length }}
{% set host_list = [] %}
{% for i in groups.consul_servers %}
{% if inventory_hostname != i %}
{{ host_list.append(hostvars[i].ansible_host) }}
{%- endif %}
{% endfor %}
retry_join = [ "{{ host_list | join('", "') }}" ]